/*! Info: https://git.io/vAXSX */

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$intro-font-family: "Permanent Marker", sans-serif;

$primary: #e0e094;

$headings-font-weight: 400;
$badge-font-weight: 600;
$btn-font-weight: 600;

$headings-margin-bottom: 1rem;

$enable-rounded: false;
$enable-shadows: true;

//Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.mol-container {
  @extend .d-flex, .flex-column, .justify-content-center, .align-items-center, .text-center, .py-3;

  @include make-container();
  @include make-container-max-widths();

  min-height: 100vh;
}

.mol-game,
.mol-info {
  width: 90vw;
  max-width: 800px;
}

.mol-question {
  @extend .d-inline-block, .border, .border-secondary, .py-3, .px-5, .mt-3;
}

.mol-question p {
  @extend .intro, .h3, .m-0;
}

.intro {
  font-family: $intro-font-family;
}

.opacity-none {
  opacity: 0;
}

.opacity-half {
  opacity: 0.5;
}

//Extra
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/utilities";
